body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
    background-image: url("hin-bong-yeung-jF946mh5QrA-unsplash.jpg");
    background-size: cover;
}

.avatar {
    width: 200px;
    border: 2px groove #c2ae81;
    border-radius: 15px;
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-image: linear-gradient(#481639,#F569CB) ;
    color: #131112;
    border: 10px inset #125aac;
    border-radius: 15px;
    box-shadow: 5px 5px #481639 ;
}

h3:hover {
    background-color: #be95c4;
    border-radius: 8px;
}


