body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
    background-color: #125aac;
}

.avatar {
    width: 150px;
    border: 1px dotted #c2ae81;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-image: linear-gradient(#6d574c,#efd780) ;
    color: #131112;
    border: 10px inset #125aac;
    border-radius: 15px;
    box-shadow: 5px 5px #888da7 ;
}

h3:hover {
    background-color: #909da5;
    border-radius: 8px;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

