body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
    background-color: #cce3de;
    
}

.avatar {
    width: 150px;
    border: 2px groove #c2ae81;
    border-radius: 15px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-image: linear-gradient(#6d574c,#efd780) ;
    color: #131112;
    border: 10px inset #125aac;
    border-radius: 15px;
    box-shadow: 5px 5px #888da7 ;
}

h3:hover {
    background-color: #be95c4;
    border-radius: 8px;
}


